.shadows{
  position: absolute;
  width: 100%;
  height: 0;
  .shadow{
    z-index: -1;
    background: none;
    border-radius: 100%;
    position: relative;
    width: 0;
    height: 0;
    &_1{
      box-shadow: 0px 0px 550px 550px $lavender_dark-color;
      top: -120px;
      left: 45%;
    }
    &_2{
      box-shadow: 0px 0px 400px 400px $cyan_dark-color;
      top: 660px;
      left: 100%;
    }
    &_3{
      box-shadow: 0px 0px 400px 400px $cyan_dark-color;
      top: 1750px;
      left: 0;
    }
    &_4{
      box-shadow: 0px 0px 400px 400px $lavender_dark-color;
      top: 2700px;
      left: 72%;
    }
    &_5{
      box-shadow: 0px 0px 230px 230px $cyan_dark-color;
      top: 3550px;
      left: 105%;
    }
    &_6{
      box-shadow: 0px 0px 230px 230px $lavender_dark-color;
      top: 4000px;
      left: 0;
    }
  }
}